# EXPO_PUBLIC_API_URL зависит от устройства:
#   эмулятор Android  -> http://10.0.2.2:4000   (localhost на эмуляторе = сам эмулятор)
#   физический телефон -> http://<IP-ПК-в-сети>:4000   (IP посмотреть: ipconfig)
#   iOS-симулятор / web -> http://localhost:4000
EXPO_PUBLIC_API_URL=http://10.0.2.2:4000
